* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
}

.fixed {
  position: fixed;
  z-index: 2;
  font-size: 18px;
}

a {
  padding-bottom: 18px;
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  max-width: 75rem;
  padding: 3rem;
  margin-inline: auto;
  background-color: #000;
}

img {
  max-width: 530px;
  max-height: 752px;
  margin-inline: auto;
}