* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px));
  grid-auto-rows: 1fr;
  gap: 1.5rem;
  max-width: 75rem;
  padding: 3rem;
  margin-inline: auto;
  background-color: #000;
}

img {
  display: block;
  max-width: 1000px;

  // max-height: 752px;
  margin-inline: auto;
  margin-top: 220px;
}
