* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  max-width: 75rem;
  padding: 3rem;
  margin-inline: auto;
  background-color: #000;
}

.video {
  display: block;
  margin-inline: auto;
}

img {
  max-width: 530px;
  max-height: 752px;
  margin-inline: auto;

  &:hover {
    border: 3px solid #000;
  }
}
